<div id="background">
  <div class="container">
    <div class="grid-container">
      <% @people.each do |person| %>
        <%= render 'person', person: person %>
      <% end %>
    </div>
  </div>
</div>
